body {
  margin: 0;
  padding: 0;
  font-family: inter;
  background-color: #dee2e6;

}

/*navigation bar header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  width: 75%;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);

}


#logo {
  width: 150px;
  margin-right: auto;
  margin-left: 40px;

}



nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
}

nav a {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #5C677D;
  transition: color 0.5s, transform 0.5s ease;

}

nav a:hover {
  color: #001233;
  transform: scale(1.1);
}

nav a.now {
  color: #001233;
  transform: scale(1.1);
}


#acc,
#notif {
  width: 30px;
  filter: invert(41%) sepia(21%) saturate(493%) hue-rotate(182deg) brightness(88%) contrast(84%);

}

#acc:hover,
#notif:hover {
  filter: brightness(0) saturate(100%) invert(5%) sepia(55%) saturate(4787%) hue-rotate(208deg) brightness(93%) contrast(102%);
}


/*who we are about us*/
#WhoWeAre {
  width: 76.5%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  border-radius: 25px;
  transition: transform 0.5s ease;

}

#WhoWeAre:hover {
  transform: scale(1.01);
}

#WhoWeAre #left {
  width: 30%;
}

#WhoWeAre #left img {
  width: 100%;
  height: 100%;
  border-radius: 25px 0px 0px 25px;
}

#WhoWeAre #right {
  width: 70%;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 0 50px;
  font-size: 22px;
  color: #5C677D;
}



/*some analyze part*/
#status {
  width: 76.5%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}


#p1,
#p2,
#p3,
#p4 {
  flex: 1;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}


#p1 p,
#p2 p,
#p3 p,
#p4 p {
  font-weight: bold;
  margin-top: 20px;
}

/*progress bar*/
.bar-container {
  display: flex;
  align-items: center;
  margin: 10px 20px 20px 20px;
  gap: 10px;
}

.bar {
  flex: 1;
  background-color: #ccdbdc;
  border-radius: 20px;
  height: 12px;
  overflow: hidden;
}

.fill {
  height: 100%;
  border-radius: 20px;
  float: left;
}

/*progress bar colors*/
.p1-fill {
  background-color: #136f63;
}

.p2-fill {
  background-color: #086788;
}

.p3-fill {
  background-color: #ba324f;
}

.p4-fill {
  background-color: #06d6a0;
}


.percent {
  font-weight: bold;
  min-width: 35px;
  text-align: left;
}

#p1,
#p2,
#p3,
#p4 {
  transition: transform 0.2s ease;
}

#p1:hover,
#p2:hover,
#p3:hover,
#p4:hover {
  transform: scale(1.02);
}


/*team members*/
#team {
  width: 76.5%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  border-radius: 25px;
  margin-top: 30px;
  transition: transform 0.5s ease;
}

#team:hover {
  transform: scale(1.01);
}

#team #left {
  width: 30%;
}

#team #left img {
  width: 100%;
  height: 100%;
  border-radius: 25px 0px 0px 25px;
}

#team #right {
  width: 70%;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  font-size: 20px;
  color: #5C677D;
}

#teamSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: auto 0;
}

.member {
  width: 20%;
  text-align: center;
  padding-top: 10px;

}

.member img {
  width: 100%;
  padding: 5px;
  border: 2px solid #ba324f;
  border-radius: 50%;
  box-sizing: border-box;
}

h4,
h5,
h6 {
  margin: 0;
}

h4 {
  margin-top: 10px;
  color: #ba324f;
}

h5 {
  margin-top: 3px;
  font-weight: 400;
}


/*contact and autharize*/
#contactAuth {
  width: 76.5%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}


#SocialMedia,
#auth {
  width: 70%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#SocialMedia table {
  margin: 15px;
  border-collapse: collapse;
  text-align: left;
}

#SocialMedia table td {
  padding: 5px 30px 0 0;
}

#SocialMedia img {
  width: 35px;
}

#SocialMedia a {
  text-decoration: none;
  font-weight: 400;
  color: #5C677D;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

#SocialMedia a:hover {
  color: #001233;
  border-bottom: 2px solid #001233;
}


#auth div {
  margin: 20px;
}


#auth img {
  width: 40px;
  padding-left: 10px;
}


/*footer section*/
footer {
  margin: 30px auto;
  width: 76.5%;
  padding: 10px;
  border-radius: 15px;
  background-color: #001233;
  box-shadow: 0 0 10px 1px solid rgba(0, 0, 0, 0.5);
}

footer p {
  color: white;
  font-weight: bold;
}

/*scroll button*/
#scrollBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ba324f;
  padding: 10px 12px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#scrollBtn img {
  width: 20px;
}


/*notification*/
#notif-bar {
  position: absolute;
  top: 110px;
  right: 200px;
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 999;
  color: #001233;
  font-weight: 500;
  width: 20%;
  height: 300px;
}

#notif-bar p {
    margin-bottom: 10px;
    font-weight: 400;
    color: #5C677D;
    font-size: 15px;
}

#notif-bar.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

}


/*responsive sizes*/
@media (max-width: 1024px) {

  header {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 5px;
  }

  #logo {
    margin: 5px auto;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
  }

  nav a {
    font-size: 18px;
  }

  #WhoWeAre #left {
    display: none;
  }

  #WhoWeAre #right {
    width: 100%;
  }

  #status {
  width: 76.5%;
  display: flex;
  flex-direction: column;
}

#team #left {
  display: none;

}

#team #right {
  width: 100%;
  display: flex;
  margin: 0;

}

#team #right .member{
  width: 18%;
}

#contactAuth{
  display: flex;
  flex-direction: column;
}

#SocialMedia, #auth{
  width: 100%;
}

}